@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Bridone";
  src: url("/fonts/Bridone_21.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.custom-container {
  width: 90%;
  max-width: 1160px;
  margin: 0 auto;
}

.footer-container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.item-head {
  display: flex;
  overflow-x: auto;
  gap: 30px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  background-color: brown;
}

.nunito-font {
  font-family: "Nunito", serif;
}

hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbarc,
.categories-head::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.another-box::before {
  content: "+12";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
  width: 100%;
  height: 100%;
  color: white;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.49);
}

.carousel div {
  overflow-y: auto;
}

.destacados-img-box {
  margin-top: 4px;
}

/* Hover effect for images */
.image-container {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container:hover {
  transform: scale(1.05); /* Scale the image on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

/* Red background for the heart icon */
.bg-red {
  background-color: red;
  border-radius: 50%; /* Optional: Make the background circular */
  /* Optional: Add padding for better appearance */
}

/* ===== Footer ===== */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .custom-container {
    width: 96%;
  }
  .top .boxes {
    display: none;
  }

  .top {
    padding: 5px 0px;
  }

  .top .container {
    width: 100%;
    padding: 0.5rem;
  }

  .bottom {
    width: 100%;
  }

  .bottom .img-boxes {
    gap: 3px;
    padding: 5px 3px;
  }

  .bottom .img-boxes .box {
    width: 35px;
    height: 35px;
  }

  .shop-box .img-box {
    width: 40px;
    height: 40px;
  }

  /* ===== Destacados ===== */

  .another-box::before {
    font-size: 8px;
  }

  /* ===== Footer ===== */

  .footer-head h2 {
    font-size: 25px;
  }

  .social-boxes {
    gap: 15px;
    margin-top: 5px;
    padding-top: 5px;
  }

  .social-boxes .box {
    width: 35px;
    height: 35px;
  }

  .social-boxes .box img {
    max-width: 50%;
  }

  .footer-head ul {
    gap: 15px;
  }

  .footer-head a,
  .footer-head p {
    font-size: 12px;
  }
}

/* Card hover effect for large displays only */
@media (min-width: 768px) {
  /* Wrapper for scaling and hover effects */
  .card-wrapper {
    transition: all 0.3s ease;
    transform-origin: center;
  }

  .card-wrapper:hover {
    transform: scale(1.03); /* Scale on hover */
    box-shadow: 0 4px 8px rgba(11, 2, 2, 0.1); /* Shadow on hover */
  }
}

/* Card styling */
.item {
  /* Initial border */
  background: white;
  height: 100%; /* Ensure the card fills the wrapper */
  width: 100%; /* Ensure the card fills the wrapper */
}

/* CardFooter hover effects */
.card-footer .group:hover .tooltip {
  opacity: 1; /* Show tooltip only when hovering over the icon */
}

.tooltip {
  opacity: 0; /* Hide tooltip by default */
  transition: opacity 0.3s ease;
}

/* Mobile-specific styles */
@media (max-width: 767px) {
  .card-wrapper:active {
    opacity: 0.9; /* Slight opacity change on tap */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* ===== Footer ===== */

  .footer-head h2 {
    font-size: 25px;
  }

  .social-boxes {
    gap: 15px;
    margin-top: 5px;
    padding-top: 5px;
  }

  .social-boxes .box {
    width: 35px;
    height: 35px;
  }

  .social-boxes .box img {
    max-width: 50%;
  }

  .footer-head ul {
    gap: 15px;
  }

  .footer-head a,
  .footer-head p {
    font-size: 12px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* ===== Footer ===== */

  .footer-head h2 {
    font-size: 26px;
  }

  .social-boxes {
    gap: 15px;
    margin-top: 5px;
    padding-top: 10px;
  }

  .social-boxes .box {
    width: 40px;
    height: 40px;
  }

  .social-boxes .box img {
    max-width: 50%;
  }

  .footer-head ul {
    gap: 15px;
  }

  .footer-head a,
  .footer-head p {
    font-size: 14px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) and (max-width: 1124px) {
  .another-style {
    flex-basis: 50%;
    flex-basis: 33.333333%;
  }
  .another-second {
    flex-basis: 50%;
  }
}
